<div class="container">
  <h1>Hola</h1>
</div>

<div class="row" style="background-color: yellow;">
Fila
<div class="col-sm-12" style="background-color: chocolate;">
  Columna
</div>
<div class="col-sm-6" style="background-color: gray;">
  Columna 6
</div>
<div class="col-sm-6" style="background-color: green;">
  Columna 6
</div>
<div class="col-sm-4" style="background-color: greenyellow;">columna 4</div>
<div class="col-sm-4" style="background-color: indigo">columna 4</div>
<div class="col-sm-4" style="background-color: red;">columna4</div>

</div>
<div>

</div>
